.dashboard-container {
    width: 100%;
    height: 90vh;
    background-color: #f5f5f7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Dashboard Filter & animations */
.dashboard-filter-container {
    width: 100%;
    height: 8vh;
    background: #f5f5f7;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.dashboard-filter-container > h1 {
    color: grey;
    font-size: 17px;
    margin-right: 30%;
}


.dashboard-filter-container > span {
    color: grey;
    font-size: 22px;
    margin-left: 5%;
}

.dashboard-filter-container > span:hover {
    cursor: pointer;
}

.dashboard-filter-open-container {
    width: 100%;
    height: 24vh;
    background: #f5f5f7;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.dashboard-filter-open-container > h1 {
    color: grey;
    font-size: 16px;
    margin-right: 71%;
    margin-top: 4%;
}

.filter-container-choice {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 3%;
}

.rating-stars {
    font-size: 32px;
}

.rating-stars label{
    margin-left: 2px;
}

.filter-container-choice > button {
    background-color: #00d258; /* Green */
    border: none;
    border-radius: 40px 40px 40px 40px;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    outline: none;
    margin-left: 10%;
}

/* Dashboard Reviews */
.dashboard-reviews-container {
    width: 95%;
    height: 100vh;
    overflow: scroll;
}


.dashboard-reviews-container > a {
    text-decoration: none;
}